<div class="container-fluid header-set">
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <a href="/">
          <img src="/assets/images/FoodRunLogo.png" class="logo"/>
        </a>
      </div>
      <div class="col-xl-6 text-in-header">
        <ul class="top-list-settings">
          <li *ngIf="ToplistService.topList==1" data-bs-toggle="modal" data-bs-target="#exampleModal">Log In</li>
          <li *ngIf="ToplistService.topList==1">Sign Up</li>
          <li *ngIf="ToplistService.topList==2"><a href="/burger25/summary" class="view-order">View Order</a></li>
          <li *ngIf="ToplistService.topList==3">&nbsp;</li>
        </ul>
      </div>
    </div>
  </div>
</div>

