<div class="container">
   <div class="row">
    <div class="col mt-1 mb-4">
      <h2><strong>Burger 25</strong></h2>
      <h5>200 Grand Ave., Delta, NJ, 01111</h5>
    </div>

    <div class="row mb-3">
      <h3>Burgers</h3>
      <div class="col-3">
        <img src="../../../assets/images/burger25-simple.png"/><br />
        <span>Simple Burger</span>
      </div>

      <div class="col-3">
        <a href="/burger25/bacon-cheeseburger" style="color: #000000;text-decoration: none;">
          <img src="../../../assets/images/Burger25-bacon.png"/><br />
          <span>Bacon Cheeseburger</span>
        </a>
      </div>
    </div>

    <div class="row mb-3">
      <h3>Fries</h3>
      <div class="col-3">
        <img src="../../../assets/images/burger25-frenchfries.png"/><br />
        <span>French Fries</span>
      </div>

      <div class="col-3">
        <img src="../../../assets/images/burger25-tatertots.png"/><br />
        <span>Tater Tots</span>
      </div>
    </div>

    <div class="row mb-3">
      <h3>Shakes</h3>
      <div class="col-3">
        <img src="../../../assets/images/burger25-vanilla.png"/><br />
        <span>Vanilla Milk Shake</span>
      </div>

      <div class="col-3">
        <img src="../../../assets/images/burger25-chocolate.png"/><br />
        <span>Chocolate Milk Shake</span>
      </div>
    </div>

  </div>
</div>


