.food-category {
  margin-bottom: 36px;
}

.text-address {
  padding: 8px;
  border-radius: 15px;
}

.WhatsForDinner {
  margin-bottom: 10px;
  margin-top: 10px;
  height: 201px;
  width: 1300px;
  scale: 1;
}

