<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <img src="../../../assets/images/WhatsForDinner.png" class="WhatsForDinner" />
    </div>
  </div>

  <div class="row mb-4">
    <div class="col">
      <h5>Delivery Address</h5>
      <input class="text-address" type="text" size="50" value="215 Bayard Ave, Delta, NJ, 01111">
    </div>

    <div class="col">
      <h5>Time</h5>
      <input class="text-address" type="text" size="30" value="Aug 24, 2024 - 8:30pm">
    </div>
  </div>

  <div class="row food-category">
    <h4><strong>Hamburgers</strong></h4>

    <div class="col-3">
      <img src="../../../assets/images/Burger25-food1.png" height="125" width="188" /><br />
      <span>Burger 25</span>
    </div>

    <div class="col-3">
      <img src="../../../assets/images/freddys-burger1.png" height="125" width="188" /><br />
      <span>Freddy's</span>
    </div>
  </div>

  <div class="row food-category">
    <h4><strong>Japanese</strong></h4>

    <div class="col-3">
      <img src="../../../assets/images/hana-food.png" /><br />
      <span>Hana Sushi</span>
    </div>

    <div class="col-3">
      <img src="../../../assets/images/midori-food.png" /><br />
      <span>Midori</span>
    </div>

    <div class="col-3">
      <img src="../../../assets/images/ottoyee-food.png" /><br />
      <span>Ottoyee</span>
    </div>
  </div>

  <div class="row food-category">
    <h4><strong>Pizza</strong></h4>

    <div class="col-3">
      <img src="../../../assets/images/brooklyn-food.png" /><br />
      <span>Brooklyn Boys</span>
    </div>

    <div class="col-3">
      <img src="../../../assets/images/ciccios-food.png" /><br />
      <span>Ciccio's</span>
    </div>
  </div>

</div>

