<app-header></app-header>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

<div class="bottom-spacer"></div>

<app-footer></app-footer>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-2"></div>
          <div class="col-10">
            <h2 class="modal-title mb-4" id="exampleModalLabel">Log In</h2>
            <h6>Email</h6>
            <input type="text" class="custom-inputs" size="35" value="hungry@email.com"/>
            <div class="mb-2"></div>
            <h6>Password</h6>
            <input type="text" class="custom-inputs" size="35" value="***********" />
            <div class="mb-4"></div>
            <button type="button" class="btn btn-success" data-bs-dismiss="modal">Submit</button>
            <br />
            <div class="mb-2"></div>
            <a href="/" class="forgotYourPassword">Forgot Your Password?</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
