.bottom-spacer {
  width: auto;
  height: 45px;
  background-color: #FAFFF9;
}

.container-fluid {
  background-color: #FAFFF9;
}

.custom-inputs {
  border-radius: 15px;
  padding-left: 13px;
}

.forgotYourPassword {
  color: #15900A;
}

.modal-content {
  background-color: #B9F9B3;
}
