<div class="container">
  <div class="row">
    <div class="col mt-1 mb-4">
      <h2><strong>Burger 25</strong></h2>
      <h5>200 Grand Ave., Delta, NJ, 01111</h5>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col">
      <h2>Charge: $16.96</h2>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col">
      <input type="text" class="text-name" size="50" value="Jay Smith"/><br />
      <p class="label-display">Name</p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col">
      <input type="text" class="text-name" size="50" value="0000 0000 0000 0000"/><br />
      <p class="label-display">Card Number</p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-2">
      <input type="text" class="text-name" size="20" value="07/29"/><br />
      <p class="label-display">Expiration</p>
    </div>
    <div class="col-2">
      <input type="text" class="text-name" size="20" value="123"/><br />
      <p class="label-display">CVC</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <a href="/burger25/success">
        <button type="button" class="btn btn-lg btn-success">Submit Order</button>
      </a>
    </div>
  </div>

</div>
