<div class="container">
  <div class="row">
    <div class="col mt-1 mb-4">
      <h2><strong>Burger 25</strong></h2>
      <h5>200 Grand Ave., Delta, NJ, 01111</h5>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-3">
        <img src="../../../assets/images/Burger25-bacon.png"/><br />
        <span>Bacon Cheeseburger</span>
    </div>

    <div class="col-3">
      <h4>Price: $7.50</h4>
      <h4>Quantity: 1</h4>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-3">
        <img src="../../../assets/images/burger25-tatertots.png"/><br />
        <span>Tater Tots</span>
    </div>

    <div class="col-3">
      <h4>Price: $3.50</h4>
      <h4>Quantity: 1</h4>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-3">
        <img src="../../../assets/images/burger25-chocolate.png"/><br />
        <span>Chocolate Milk Shake</span>
    </div>

    <div class="col-3">
      <h4>Price: $5.00</h4>
      <h4>Quantity: 1</h4>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-3"></div>

    <div class="col-3">
      <h4>Cost: $16.00</h4>
      <h4>Tax: $0.96</h4>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-3"></div>

    <div class="col-3">
      <h3 style="color: #15900A;font-weight: bold;">Total: $16.96</h3>
    </div>

    <div class="col-3 align-left">
      <div class="d-grid gap-2">
        <a href="/burger25/creditcard">
          <button type="button" class="btn btn-lg btn-success">Checkout</button>
        </a>
      </div>
    </div>
  </div>
</div>
